<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="dark">

            <b-navbar-brand v-if="$http.defaults.headers.common['Authorization']">
                <router-link :to="{name: 'rooms'}" class="btn btn-secondary">Chat</router-link>
            </b-navbar-brand>
            <b-navbar-brand v-else>
                <router-link :to="{name: 'homepage'}" class="btn btn-secondary">Úvod</router-link>
            </b-navbar-brand>


            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
<!--
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">Link</b-nav-item>
                    <b-nav-item href="#" disabled>Disabled</b-nav-item>
                </b-navbar-nav>
-->
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">

                    <div v-if="isLoggedIn">
                        <b-nav-item-dropdown right>
                            <template slot="button-content">Uživatel</template>
                            <b-dropdown-item> <router-link :to="{name: 'edit'}">Upravit</router-link></b-dropdown-item>
                            <b-dropdown-item v-on:click="logout">Odhlásit</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </div>
                    <div v-else>
                        <b-button v-on:click="login">Přihlásit</b-button>
                    </div>
                </b-navbar-nav>

        </b-navbar>
    </div>
</template>

<script>
    export default {
        name: "NavBar",
        computed: {
            isLoggedIn: function () {
                const token = localStorage.getItem('token');
                return token !== null && token !== undefined;
            }
        },
        methods: {
            login: function () {
                this.$router.push({name: 'login'});
            },
            logout: function () {
                localStorage.removeItem('token');
                window.location.reload();
            }
        }
    }
</script>

<style scoped>

</style>
