<template>
  <div class="zarov">
      <h1><b-badge>Editacni rezim</b-badge></h1>
    <br>
    <form @submit.prevent="edit">
      <b-badge variant="light">Login</b-badge>
      <br>
      <input class="form-control" type="text" v-model="login" required><br>
      <b-badge variant="light">Heslo</b-badge>
      <br>
      <input class="form-control" type="password" v-model="password1" required><br>
      <b-badge variant="light">Heslo znovu</b-badge>
      <br>
      <input class="form-control" type="password" v-model="password2" required><br>
      <b-badge variant="light">Jmeno</b-badge>
      <br>
      <input class="form-control" type="text" v-model="name" required><br>
      <b-badge variant="light">Prijmeni</b-badge>
      <br>
      <input class="form-control" type="text" v-model="surname" required><br>
      <b-badge variant="light">Email</b-badge>
      <br>
      <input class="form-control" type="email" v-model="email" required><br>
      <b-badge variant="light">Pohlavi</b-badge>
      <br>
      <select class="browser-default custom-select" v-model="gender" required>
        <option value="male">Muz</option>
        <option value="female">Zena</option>
      </select>
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Upravit</button>
    </form>
    <br>
    <router-link :to="{ name: 'rooms' }" class="btn btn-secondary">
      Zpet
    </router-link>
  </div>

</template>

<style>

  .zarov{

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    padding: 100px;
    text-align: left;
    margin: auto;
    display: table;

  }


</style>

<script>
  export default {
    //jako data: function() {}
    mounted(){
      this.$http.get('api/auth/users/edit').then((response)=> {
        this.user = response.data;
        this.name=this.user.name;
        this.surname=this.user.surname;
        this.gender=this.user.gender;
        this.login=this.user.login;
        this.email=this.user.email;
      });
    },
    data() {
      return {
        name: '',
        surname: '',
        email: '',
        password1: '',
        password2: '',
        gender: 'male',
        login: ''
      };
    },
    methods: {
      edit() {
        if(this.password1 != this.password2) {
          alert('Hesla se neshoduji.');
          return;
        }
        this.$http.post('api/auth/users/edit', {
          name: this.name,
          surname: this.surname,
          login: this.login,
          password: this.password1,
          gender: this.gender,
          email: this.email
        }).then(() => {
          alert('Data zmenena');
          this.$http.get('api/auth/users/edit').then((response)=> {
            this.user = response.data;
            this.name=this.user.name;
            this.surname=this.user.surname;
            this.gender=this.user.gender;
            this.login=this.user.login;
            this.email=this.user.email;
          });
        }, () => {
          alert('Chyba registrace');
        });
      }
    }
  }
</script>
