<template>
  <div class="zarov">
    <h1><b-badge>Vítejte na stránkách WA chatroom</b-badge></h1>
      <a>Tyto stránky jsou dílem Aleše Ďurčanského, jakožto projekt do předmětu webové aplikace. Je možno zde zakládat skupiny pro chatování a následně si psát s lidmi.</a>
  </div>
</template>

<style>

  .zarov{

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    padding: 100px;
    text-align: left;
    margin: left;
    display: table;
      color:white;

  }


</style>

<script>
  export default {
      name: "homepage",
      data() {
        return {
          msg: ""
        }
      },
      methods: {

      }
  }
</script>
