<template>
  <div class="zarov">
    <h1><b-badge>Login</b-badge></h1>
    <br>

    <form @submit.prevent="doLogin">
      <b-badge variant="light">Uživatelské jméno</b-badge>
      <br>
      <input class="form-control" type="text" v-model="login" required>
      <br>
      <b-badge variant="light">Heslo</b-badge>
      <br>
      <input class="form-control" type="password" v-model="password" required>
      <br>
      <br>
      <b-button type="submit" variant="primary">
        <font-awesome-icon icon="sign-in-alt" />
        Log in
      </b-button>
    </form>
    <br>
    <router-link :to="{ name: 'register' }" class="btn btn-secondary">
      Registrace
    </router-link>
  </div>
</template>

<style>

  .zarov{

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    padding: 100px;
    text-align: left;
    margin: auto;
    display: table;

  }


</style>

<script>
  export default {
      data() {
          return  {
              login: '',
              password: ''
          }
      },
      methods: {
          doLogin() {
              this.$http.post('api/login',
                  // data posilane na server
                  {
                     login: this.login,
                     password: this.password
                  }
              ).then(
                  // uspesne prihlaseni
                  (response) => {
                      const token = response.data.token; // token prijaty ze serveru
                      console.log(token);
                      localStorage.setItem('token', token); // ulozeni tokenu do prohlizece naporad, pak je mozne ho nacitat pomoci localStorage.getItem('token') pri kazdem nacteni aplikace a nastavovat ho do axiosu viz dalsi radek
                      this.$http.defaults.headers.common['Authorization'] = response.data.token; // ulozeni docasne dovnitr axiosu, bude pouzito pro vsechny pozadavky na server, po obnoveni stranky zmizi
                      // presmerovani na jinou stranku po uspesnem loginu
                      if (this.$route.params.nextUrl !== undefined) {
                        this.$router.push({ path: this.$route.params.nextUrl });
                      } else {
                        this.$router.push({ name: 'rooms' });
                      }
                      window.location.reload();
                  }
              ).catch(
                  // neuspech
                  (error) => {
                    console.log(error);
                    alert("Check your credentials.");
                  }
              );
          }
      }
  }
</script>
