<template>
    <div class="poslat">
        <form @submit.prevent="sendMessage">
            <select class="browser-default custom-select" v-model="komu">
                <option value="all" :selected="true">Všichni</option>
                <option v-for="user in $parent.users"  :value="user.id_users">{{user.login}}</option>

            </select>
            <br>
            <br>
            <input class="form-control" v-model="msg">
            <br>
            <button class="btn btn-secondary">Poslat</button>
        </form>
    </div>
</template>

<style>

    .poslat{


        padding: 100px;
        text-align: left;
        margin: auto;
        display: inline-block;


    }


</style>

<script>
    export default {
        name: "NewMsg",
        data() {
            return {
                msg: "",
                komu:"all",
                id_users_to:null
            }
        },
        methods: {
            sendMessage() {
                if(this.komu == "all"){
                    this.id_users_to = null;
                } else {
                    this.id_users_to = this.komu;
                }
                this.$http.post('/api/auth/messages/' + this.$parent.roomId, {
                    id_users_to:this.id_users_to,
                    msg: this.msg
                }).then(() => {
                    this.$parent.loadMessages();
                    this.msg = "";
                }).catch(() => {
                    alert("Chyba");
                })
            }
        }
    }
</script>

<style scoped>

</style>