<template>
    <div class="nr">
        <h3><b-badge>Vytvořit místnost</b-badge></h3>
        <form @submit.prevent="createRoom">
            <b-badge variant="secondary">Název místnosti: </b-badge>
            <input class="form-control" v-model="name"> <br>
            <button class="btn btn-primary">Vytvorit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: "NewRoom",
        data() {
            return {
                name: ""
            }
        },
        methods: {
            createRoom() {
                this.$http.post('/api/auth/rooms', {
                    title: this.name
                }).then(() => {
                    this.name = "";
                    alert("Mistnost vytvorena");
                    this.$parent.loadRooms();

                }).catch(() => {
                    alert("Chyba");
                })
            }
        }
    }
</script>

<style scoped>

    .nr {
    padding: 100px;
    text-align: left;
    margin: left;
    display: table;
}
</style>