<template>
  <div>
    <h1><b-badge>Místnosti</b-badge></h1>
    <div class="vyber" align="center">
    <table>
      <tr v-for="room in rooms">
        <b-list-group>
          <br>
          <b-list-group-item><a class="room-link" v-on:click="vstup(room.id_rooms)">{{room.title}}</a></b-list-group-item>
          <br>
        </b-list-group>
      </tr>
    </table>
      <new-room></new-room>
      </div>
    <hr>

    <!--<button v-on:click="loadRooms">Obnovit</button>-->
  </div>
</template>

<style>
  .room-link{
    cursor: pointer;
    text-align:center;
    font-size:24px;

  }

  .vyber{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    
    height: auto;
  }

</style>


<script>
import NewRoom from '@/views/NewRoom';

export default {
    components: {NewRoom},
    data() {
        return {
            rooms: [],
            curRoom: [],
            curRoomOwner: false,
          reloader: null,
        }
    },
    mounted() {
        this.loadRooms();
      this.reloader = setInterval(() => {
        this.loadRooms();
      }, 10000);
    },
  beforeDestroy() {
    clearInterval(this.reloader);
  },
    methods: {
        loadRooms() {
            this.$http.get('api/auth/rooms')
                .then(response => {
                    this.rooms = response.data;
                });
        },
      vstup(id_rooms){
        this.$http.get('api/auth/rooms/' + id_rooms)
              .then(response => {
                this.curRoom = response.data;
                this.$http.get('api/auth/rooms/owner/' + id_rooms).then((response) => {
                  this.curRoomOwner = response.data['owner'];
                }).then((response) => {
                  if(this.curRoomOwner ){
                    this.$router.push({ name: 'room', params: {id:id_rooms}});
                  } else {
                    if(this.curRoom.lock){
                      alert("Místnost "+this.curRoom.title+" je zamcena!")
                    } else {
                      this.$router.push({ name: 'room', params: {id:id_rooms}});
                    }
                  }
                });

            });
      }
    }
}
</script>
