<template>
    <div>
        <h1><b-badge>Místnost {{rooms.title}}<span v-if="lock"> | ZAMKNUTO</span></b-badge></h1>
        <h4 v-if="owner"><b-badge variant="light">Jsi správcem této místnosti</b-badge></h4>
        <button class="btn btn-primary" v-if="owner" @click="delRoom">Smazat</button>
        <button class="btn btn-primary" v-if="owner" @click="lockRoom">
            <span v-if="lock">Odemknout</span>
            <span v-else>Zamknout</span>
        </button>
        <br>
        <br>
        <div class="zarov">
        <div v-for="message in messages">
            {{message.created}}&nbsp&nbsp&nbsp
            {{message.login}}&nbsp&nbsp&nbsp
            {{message.message}}
        </div>
            <new-msg></new-msg>
        </div>

    </div>
</template>

<style>

    .zarov{

        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        height:auto;
        color: white;
        padding: 100px;
        text-align: left;
        margin: auto;
        display: table;

    }


</style>

<script>
    import NewMsg from '@/views/NewMsg';
    export default {
        name: "Room",
        components: {NewMsg},
        data() {
            return {
                owner:false,
                lock:false,
                roomId: null,
                messages: [],
                reloader: null,
                rooms: [],
                users: []
            }
        },
        beforeMount() {
            const roomId = this.$route.params.id;
            this.roomId = roomId;
            this.enterRoom();
        },
        // po nacteni komponenty
        mounted() {


            this.loadMessages();
            this.loadRoomInfo();

            this.reloader = setInterval(() => {
                this.loadMessages();
            }, 5000); // zavola metodu pro stazeni dat kazdou vterinu
        },
        // pred zrusenim komponenty
        beforeDestroy() {
            clearInterval(this.reloader);
            this.leaveRoom();
        },
        methods: {
            enterRoom(){
                this.$http.post('api/auth/rooms/enter/' + this.roomId);
            },
            leaveRoom(){
                this.$http.post('api/auth/rooms/leave/' + this.roomId);
            },
            loadRoomInfo() {
                this.$http.get('api/auth/rooms/' + this.roomId)
                    .then(response => {
                        this.rooms = response.data;
                    });
            }
            ,
            loadMessages() {
                this.$http.get('api/auth/messages/' + this.roomId)
                    .then(response => {
                        this.messages = response.data;
                    });
                this.$http.get('api/auth/rooms/' + this.roomId).then((response) => {
                    this.lock = response.data['lock'];
                });
                this.$http.get('api/auth/rooms/in_room/' + this.roomId).then((response) => {
                    this.users = response.data;
                });
                this.$http.get('api/auth/rooms/owner/' + this.roomId).then((response) => {
                    this.owner = response.data['owner'];
                }).catch((error)=>{
                    this.$router.push({ name: 'rooms'});
                });
            },
            delRoom(){
                this.$http.get('api/auth/rooms/del/' + this.roomId)
                this.$router.push({ name: 'rooms'});
            },
            lockRoom(){
                this.$http.get('api/auth/rooms/lock/' + this.roomId)
                if(this.lock){
                    this.lock = false;
                } else {
                    this.lock = true;
                }
            }
        }
    }
</script>

<style scoped>

</style>
